<%= modal_for 'popup', autoopen: false do %>
  <h1><%= t 'layouts.partials.modal.popup.headline' %></h1>
  <p><%= t 'layouts.partials.modal.popup.text' %></p>
  <%= simple_form_for @contact do |f| %>
    <%= f.input :name, label: false, placeholder: 'Name*' %>
    <%= f.input :email, label: false, placeholder: 'E-Mail*' %>
    <%= f.hidden_field :message, value: 'Ich möchte an der Umfrage teilnehmen' %>
    <%= f.button :submit, value: t('layouts.partials.modal.popup.button') %>
  <% end %>
  <br>
<p class='footer'><%= t 'layouts.partials.modal.popup.footer' %></p>
<% end %>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<%= javascript_include_tag "jquery.popupoverlay" %>


<script>
  $('.JS-modal').popup('show');
</script>