%p
  - if @multiple_contact_people || (!@contact_person.last_name? && !@contact_person.first_name?)
    Sehr geehrte Damen und Herren,
  - elsif @contact_person.last_name?
    - if @contact_person.gender == 'male'
      Lieber Herr
    - else
      Liebe Frau
    = succeed ',' do
      = @contact_person.last_name
  - elsif @contact_person.first_name?
    - if @contact_person.gender == 'male'
      Lieber
    - else
      Liebe
    = succeed ',' do
      = @contact_person.first_name

%p
  es gibt ein neues Angebot auf clarat, in dem Sie als Kontakt eingetragen sind.

%p
  Ihr Angebot heißt bei clarat:
  %br
  = '"' + @offer.name.strip + '",'
  zu finden unter folgendem Link:
  %br
  = link_to offer_url(@offer), offer_url(@offer)

%p
  Mit freundlichen Grüßen,

%p
  Das clarat Team

%p
  clarat
  %br
  ein Projekt der Benckiser Stiftung Zukunft
  %br
  Französische Straße 47
  %br
  10117 Berlin
  %br
  Tel.: +49 (0)30 55 57 96 00

%small
  = link_to 'abmelden', @unsubscribe_href
