%p
  - if @multiple_contact_people || (!@contact_person.last_name? && !@contact_person.first_name?)
    Sehr geehrte Damen und Herren,
  - elsif @contact_person.last_name?
    - if @contact_person.gender == 'male'
      Lieber Herr
    - else
      Liebe Frau
    = succeed ',' do
      = @contact_person.last_name
  - elsif @contact_person.first_name?
    - if @contact_person.gender == 'male'
      Lieber
    - else
      Liebe
    = succeed ',' do
      = @contact_person.first_name

%p
  erinnern Sie sich noch an clarat - das Portal, auf dem Kinder, Jugendliche
  und Familien einfach Hilfe finden?

%p
  Auf clarat hat sich einiges getan! Wie versprochen halten wir Sie darüber auf
  dem Laufenden. Inzwischen gibt es auch
  - if @offers_count == 1
    ein neues Angebot
  - else
    neue Angebote
  von Ihnen:

%p
  - if @offers_count == 1
    = '"' + @offers.first.name.strip + '",'
    zu finden unter folgendem Link:
    %br
    = link_to offer_url(@offers.first), offer_url(@offers.first)
  - else
    %ul
      - @offers.each do |offer|
        %li
          = '"' + offer.name.strip + '",'
          zu finden unter folgendem Link:
          %br
          = link_to offer_url(offer), offer_url(offer)



%p
  Werfen Sie doch einen kurzen Blick auf
  = succeed '.' do
    - if @offers_count == 1
      Ihr Angebot
    - else
      Ihre Angebote
  Haben Sie einen Fehler gefunden? Dann geben Sie uns gern Bescheid.

%p
  Wir arbeiten weiter daran, alle Unterstützungsangebote in Berlin zu erfassen.
  Sobald weitere Angebote von Ihnen bei clarat zu finden sind, informieren wir
  Sie per Mail.

%p
  In Zukunft finden dann hoffentlich immer mehr Menschen durch clarat einfach
  und schnell Ihre Hilfe.

%p
  Mit freundlichen Grüßen
  %br
  das clarat Team

%p
  Anne Schulze

%p
  clarat
  %br
  ein Projekt der Benckiser Stiftung Zukunft
  %br
  Französische Straße 47
  %br
  10117 Berlin
  %br
  Tel.: +49 (0)30 55 57 96 00
  %br
  = link_to 'www.clarat.org', 'http://www.clarat.org'

%small
  Sie wollen keine weiteren Infos mehr von uns bekommen? Dann klicken Sie
  = succeed '.' do
    = link_to 'hier', @unsubscribe_href
